body {
  font-family: 'Ubuntu', sans-serif;
  padding-top: 40px;
  padding-bottom: 70px;
  background-color: #fff;
}

a {
  text-decoration: none!important;
}

h1 {
  font-weight: bold;
}

.navbar-fixed-bottom {
  padding-top: 13px;
  background-color: #2F2F2F;
}

.navbar-fixed-bottom a {
  color: #ccc;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.btn {
  background-color: #0EBFE9;
  border-color: #0EBFE9;
  align-items: center;
  color: #fff;
  user-select: none;
  font-weight: 100;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
  border-radius: 5px;
  white-space: nowrap;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
}

.btn:hover {
  background-color: #0EBFE9;
  border-color: #63D1F4;
  box-shadow: 0 0px 18px rgba(158, 158, 158, 0.23);
  
}

.btn:active {
  color: #fff;
  background-color: #0EBFE9;
  border-color: #63D1F4;
}

.form-signin .form-control {
     position: relative;
    height: auto;
    box-sizing: border-box;
}

.container p a {
  color: #efefef;
  text-decoration: none;
}